@page "/fetchdata"
@inject HttpClient Http
@inject IIndexedDbFactory DbFactory

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (tenants == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tenant in tenants)
            {
                <tr>
                    <td>@tenant.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Tenant> tenants;

    protected override async Task OnInitializedAsync()
    {
        using var db = await DbFactory.Create<LandlordDb>();
        tenants = db.Tenants.ToList();
    }
}
