@page "/"

<h1>TODO</h1>
<div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell">
        <MatListGroup>
            <MatListGroupSubHeader>Customer</MatListGroupSubHeader>
                <MatList>
                    <MatListItem>
                        See all customers
                    </MatListItem>
                    <MatListItem>
                        Add customer
                    </MatListItem>
                    <MatListItem>
                        Delete customer
                    </MatListItem>
                    <MatListItem>
                        Edit customer
                    </MatListItem>
                </MatList>
            <MatListGroupSubHeader>Invoice</MatListGroupSubHeader>
                <MatList>
                    <MatListItem>
                        Invoice templates
                    </MatListItem>
                    <MatListItem>
                        Razor engine
                    </MatListItem>
                    <MatListItem>
                        HtmlRenderer.PdfSharp to convert html to PDF
                    </MatListItem>
                </MatList>
        </MatListGroup>
    </div>
</div>