@inherits LayoutComponentBase

<div>
    <aside class="side-bar">
        <div class="side-bar-home">
            <div class="side-bar-item">
                <MatIcon Icon="alarm"></MatIcon>
            </div>
        </div>
        <div class="side-bar-menu">
            <div class="side-bar-item">
                <MatIconButton Icon="favorite_border" Link="/customers">
                </MatIconButton>
            </div>
        </div>
        <div class="side-bar-footer">
            <div class="side-bar-item">
                <i class="fab fa-github"></i>
            </div>
        </div>
    </aside>
    <div class="main">
        <div class="mat-layout-grid">
            @Body
        </div>
    </div>
</div>